    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Welcome to Utpal's blog!">
    <meta name="description" content="Utpal Bora Home Page. I blog on LLVM, Polly, my hometown Jorhat, on my experience and lot more.">
    <meta name="author" content="Utpal Bora">
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />
    <meta name="google-site-verification" content="mAW6DxMl4x3zjMORIOiH3pc5KwEKCKkJrcnXVTf57TM" />
    <meta name="keywords" content="utpalbora,Utpal Bora,Utpal,Bora,IIT,IITH,IITHyderabad,Hyderabad,India,Programming,Compiler,Polly,LLVM">
