    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <meta name="title" content="Welcome to Radiant College Dergaon!">
    <meta name="description" content="Radiant College Dergaon. A premier institue providing senior secondary education in Science and Arts.">
    <meta name="author" content="Utpal Bora">
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />
    <meta name="google-site-verification" content="" />
    <meta name="keywords" content="radiantcollege,Radiant College,Radiant,College,Science,Arts,School,College,Milanpur,Dergaon,College Golaghat,College Assam">
